*{
    margin: 0;
    padding: 0;
    font-family:Helvetica;
    margin-left: auto;
    margin-right: auto;
}
.landing{
    height: 525px;
    background-image: url(/IMG/land.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
.landing > .t1{
    text-align: center;
    color: #fff;
    font-size: 64px;
    font-weight: bold;
}
.landing p{
    position: absolute;
    margin: 286px 0 0 68px;
    color: #fff;
    font-size: 36px;
    font-weight: bold;
    padding: 16px;
    background-color: rgba(114, 153, 254, 0.5);
    border-radius: 10px;
}
/* Seccion Sobremi */
.sobremi{
    height: 424px;
    background-color: #7299FE;
}
.sobremi .t2{
    font-size: 36px;
    font-weight: bold;
    color: #fff;
    text-align: center;
    padding: 36px 0 0 0;
}
.sobremi > .r1{
    width: 80%;
    font-size: 14px;
    font-weight: normal;
    line-height: 24px;
    color: #f8f8f8;
    padding: 30px 0 0 0 ;
}
.sobremi > .bt{
    text-decoration: none;
    padding: 18px 55px;
    position: absolute;
    margin-top: 1%;
    margin-left:10%;
    font-size: 22px;
    font-weight: bold;
    color: #fff;
    background: #D16FFF;
    border-radius: 20px;
    border: none;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
/* Seccion Skills */
.bs{
    background: #9122FF;
}
.bs > .skills{
    width: 80%;
    height: 424px;
    color: white;
    padding:50px 0;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 4em;
    grid-row-gap: 1em;                      
}
.bs > .skills > .t3{
    font-size: 36px;
    font-weight: bold;
    color: #fff;
    text-align: center;
    padding: 36px 0 0 0;
    grid-column: span 2;
}
.skills li{
    width: 100%;
    list-style: none;
}
.skills li p{
    letter-spacing: 1px;
    margin-bottom: 14px;
}
.bar{
    background: #fff;
    display: block;
    height: 21px;
    border: none;
    border-radius: 32px;
    overflow: hidden;
    box-shadow: 0 0 10px #2187e7b3;
}
.bar span{
    height: 21px;
    float: left;
    background: #2187e7;
}
.html{
    width: 90%;
}
.css{
    width: 80%;
}
.javascript{
    width: 90%;
}
.vue{
    width: 90%;
}
.flexbox{
    width: 80%;
}
.wordpress{
    width: 90%;
}
/* Seccion Portafolio */
.bp{
    background: #FFD233;
}
.portafolio{
    text-align: center;
    width: 605px;
    height: 424px;
}
.portafolio> .t4{
    text-align: center;
    color: #fff;
    font-size: 34px;
    font-weight: bold;
    padding-top: 37px;
}   
.imga{
    margin-top: 20px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-column-gap:1em;
}
.imgb{
    margin-top: 20px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-column-gap:1em;    
}
.portafolio img{
    width: 140px;
}
/* Seccion Clientes */
.bc{
    background: #3F4E62;
}
.clientes{
    width: 850px;
    height: 458px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}
.clientes .t5{
    grid-column: span 4;
    text-align: center;
    color: #fff;
    font-size: 34px;
    font-weight: bold;
    padding-top: 37px;
}
.clientes img{
    width: 200px;
}
/* Seccion Contacto */
.bco{
    background: #1687A0;
}
.contacto{
    width: 800px;
}
.contacto p{
    text-align: center;
    color: #fff;
    font-size: 34px;
    font-weight: bold;
    padding-top: 37px;
}
.form{
    margin-top:27px ;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 2em;
    grid-row-gap:2em;
}
.name{
    padding: 20px 10px;
    width: 368px;
}
.addres{
    padding: 20px 10px;
    width: 368px;
}
.email{
    padding: 20px 10px;
    width: 368px;
}
.tel{
    padding: 20px 10px;
    width: 368px;
}
.message{
    width: 100%;
    grid-column: span 2;
    color: darkgray;
}
.button{
    width: 167px;
    height: 56px;
    text-align: center;
    grid-column: span 2;
    font-size: 18px;
    color: #fff;
    background: #233451;
    border: none;
    margin-bottom: 76px;
}